{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Question</h1>

        <table class="table mx-auto">
            <tbody>
                <tr>
                    <th>IdQuestion</th>
                    <td>{{ question.idQuestion }}</td>
                </tr>
                <tr>
                    <th>Question</th>
                    <td>{{ question.question }}</td>
                </tr>
                <tr>
                    <th>Propositiona</th>
                    <td>{{ question.propositiona }}</td>
                </tr>
                <tr>
                    <th>Propositionb</th>
                    <td>{{ question.propositionb }}</td>
                </tr>
                <tr>
                    <th>Propositionc</th>
                    <td>{{ question.propositionc }}</td>
                </tr>
                <tr>
                    <th>IdBonnereponse</th>
                    <td>{{ question.idBonnereponse }}</td>
                </tr>
            </tbody>
        </table>

        <div class="my-3">
            <a href="{{ path('app_question_index') }}" class="btn btn-secondary">back to list</a>

            <a href="{{ path('app_question_edit', {'idQuestion': question.idQuestion}) }}" class="btn btn-primary">edit</a>
        </div>

        {{ include('question/_delete_form.html.twig') }}
    </div>
{% endblock %}
