{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}


   {% block body %}
       <div class="slider-area gray-bg position-relative">
           <div class="single-slider d-flex align-items-center slider-height2">
               <div class="container">
                   <div class="row">
                       <div class="col-xl-12">
                           <div class="hero-caption hero-caption2">
                               <h2>Rendez vous</h2>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <div class="container ml-auto row justify-content-center">
           <div class="row justify-content-center">
               <div class="col-md-12">

                   <div class="col-12 mb-4">
                       <div class="col-md-5 ml-auto mr-auto">
                           <div class="thumb">
                               <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                           </div>
                       </div>
                   </div>

                   <div class="row">
                       <div class="col-6">
                           <div class="form-group">
                               <p>Username</p>
                               {{ rendez_vous.userRendezVous.username }}
                           </div>
                       </div>
                       <div class="col-6">
                           <div class="form-group">
                               <p>Email</p>
                               {{ rendez_vous.userRendezVous.email }}
                           </div>
                       </div>
                   </div>

                   <div class="row">
                       <div class="col-6">
                           <div class="form-group">
                               <p>biographie</p>
                               {{ rendez_vous.userRendezVous.biographie }}
                           </div>
                       </div>
                       <div class="col-6">
                           <div class="form-group">
                               <p>address</p>
                               {{rendez_vous.userRendezVous.address }}
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-6">
                           <div class="form-group">
                               <p>date du rendez vous</p>
                               {{ rendez_vous.dateRendezVous ? rendez_vous.dateRendezVous|date('Y-m-d') : '' }} à  {{ rendez_vous.heureRendezVous }}                                       </td>
                           </div>
                       </div>

                   </div>

                   <div class="row">
                       <div class="col-sm-12 text-center">
                           <a href="{{ path('app_rendez_vous_index') }} " class="header-btn mr-10">back to list</a>
                       </div>
                   </div>

               </div>
           </div>
       </div>

   {% endblock %}


{#        #}{#    <a href="{{ path('app_candidature_edit', {'idCandidature': candidature.idCandidature}) }}">edit</a>#}

{#        #}{#    {{ include('candidature/_delete_form.html.twig') }}#}
{#    {% endblock %}#}





    {#    <a href="{{ path('app_candidature_index') }}">back to list</a>#}

{#    <a href="{{ path('app_candidature_edit', {'idCandidature': candidature.idCandidature}) }}">edit</a>#}

{#    {{ include('candidature/_delete_form.html.twig') }}#}
