{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdQuiz</th>
                <td>{{ quiz.idQuiz }}</td>
            </tr>
            <tr>
                <th>NombreQuestions</th>
                <td>{{ quiz.nombreQuestions }}</td>
            </tr>
            <tr>
                <th>Barem</th>
                <td>{{ quiz.barem }}</td>
            </tr>
            <tr>
                <th>SujetQuiz</th>
                <td>{{ quiz.sujetQuiz }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quiz_index') }}">back to list</a>

    <a href="{{ path('app_quiz_edit', {'idQuiz': quiz.idQuiz}) }}">edit</a>

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
