{% extends 'base1.html.twig' %}


{% block title %}Categorie index{% endblock %}

{% block body %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


              
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-4">
                            <h6 class="m-0 font-weight-bold text-primary">List des Categories</h6>
                            <a href="{{ path('app_categorie_new') }}">Ajouter</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                   <thead>
            <tr>
                <th>IdCategorie</th>
                <th>NomCategorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCategorie }}</td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>
       
                    <a href="{{ path('app_categorie_edit', {'idCategorie': categorie.idCategorie}) }}"class="boxed-btn3">Modifier</a>
                      <a href="{{ path('app_categorie_new') }}">Ajouter</a>
                    <a> {{ include('categorie/_delete_form.html.twig') }}</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
           
                    <div class="card">
  
    </div>
  </div>
</div>
                            </div>
                        </div>


{% endblock %}